.about-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    max-width: 100%;
    min-height: 950px;
    height: auto;

    background:
            linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
            url("../resources/images/laguna_image.jpg") center/cover no-repeat;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 20px 50px 20px 50px;

    font-family: 'Inter', serif;
}

.info-section,
.philosophy-section,
.activity-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 10px;

    width: 100%;
    max-width: 1420px;
    margin-top: 60px;

    color: white;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.16em;
}

.info-section h2,
.philosophy-section h2,
.activity-section h2 {
    width: 100%;

    font-style: italic;
    letter-spacing: 0.16em;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.back-to-main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 459px;
    height: 91px;
    margin-top: 40px;

    background: rgba(30, 30, 30, 0.7);
    border: none;
    border-radius: 8px;

    color: white;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;

    transition: all 0.3s ease;
}

.back-to-main-btn:hover {
    background: rgba(30, 30, 30, 0.9);
    transform: translateY(-2px);
}