.help-page {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    background:
            linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
            url("../../resources/images/mountain_image.jpg") center/cover no-repeat;
}

.help-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1200px;
    border-radius: 16px;
    padding: 20px;

    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.16em;
    color: #FFFFFF;

    /*box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);*/
}

.faq-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    margin: 36px;
}

.faq-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 40px;
}

.faq-item {
    text-align: left;
}

.faq-item h2 {
    line-height: 1.6;
    margin-bottom: 20px;
}

.rating-examples {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    padding-left: 20px;
}

.rating-item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.stars {
    display: flex;
    gap: 2px;
}

.star {
    color: #FFD700;
}

.rating-text {
    line-height: 1.5;
}

.support-section {
    margin-top: 40px;
    padding-top: 32px;
    border-top: 1px solid #ddd;
}

.support-title {
    text-align: center;
    margin-bottom: 12px;

    font-style: italic;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
}

.support-description {
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    text-align: center;
}